@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans Hebrew', serif;
}
header, footer, nav, main, article, section, aside {
	display: block;
}
html,body {
	height:100%;
}
.footer {
	position: fixed;
	bottom:0;
	width:100%;
	height: 30px;
	background: #ff9900;
	text-align: center;
	color: #fff;
	padding-top: 4px;
	z-index: 10;
}
.fill {
	width:100%;
	height:100%;
	min-height:100%;
	padding:0px;
}
.sidebar {
	background: #003d99;
	color: #fff;
	height:100%;
	min-height:100%;
	direction: rtl;
}
.main-content-area {
	direction: rtl;
}
h1, h3 {
	text-align: center;
	font-weight: bold !important;
	padding-bottom: 10px;
	position: relative;
	display: inline-block;
	right: 10%;
}
h1 {
	right: 30%;
}
h1:before, h3:before {
	content: '';
	position: absolute;
	width: 50%;
	height: 4px;
	bottom: 0;
	left:25%;
	border-bottom: 4px solid #ff9900;
}
nav ul {
	padding-bottom: 20px;
}
nav li {
	list-style-type: square;
	margin-right: 15px; 
	padding: 5px 0px 5px 0px;
	width: 100%;
}
nav a, nav a:visited {
	display: block;
	color:white;
	font-size: 15px;
	transition: color 1s, border-left 0.5s, padding-right 0.5s;
}
nav a:hover, nav a:focused {
	text-decoration: none;
	padding-right: 10px;
	color: #ff9900;
	border-left: 20px solid #ff9900;
}
section {
	margin: 30px 30px 0px 0px;
	font-size: 16px;
}
table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin:0 auto;
}

tr th {
	text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
table img {
	width: 15px;
	height: auto;
}